<section class="page-section bg-primary" id="about">
    <h1>All Movies</h1>
    <div class="grid-container">
        <div class="card" *ngFor="let datum of data">
            <img [src]="datum.Poster_Link" [alt]="datum.Series_Title" width="120" height="1500" >
            <div class="titulo">{{ datum["Series_Title"]}}</div>
        </div>
    </div>
    <div class="button-container">
        <button class="button" (click)="mostrarMenosPeliculas()">Atrás</button>
        <button class="button" (click)="mostrarMasPeliculas()">Siguiente</button>
    </div>
</section>